/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #333;
  background: #fafafa;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  vertical-align: baseline;
}

button {
  border: none;
  background: transparent;
}

.pcOnly {
  display: block;
}
@media screen and (max-width: 767px) {
  .pcOnly {
    display: none;
  }
}

.spOnly {
  display: none;
}
@media screen and (max-width: 767px) {
  .spOnly {
    display: block;
  }
}

.navbar {
  width: 100%;
  padding: 12px 20px;
  position: fixed;
  top: 0;
  background: linear-gradient(180deg, rgb(98, 166, 216) 0%, rgb(16, 122, 202) 100%);
  border-bottom: 1px solid #107ACA;
  justify-content: flex-end;
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .navbar {
    padding: 4px 12px;
  }
}
.navbar--left {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.navbar__logo {
  width: 120px;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .navbar__logo {
    width: 76px;
  }
}
.navbar__user a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar__user a:hover {
  opacity: 0.8;
}
.navbar__user p {
  margin-bottom: 0;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.navbar__user img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  display: inline-block;
}

.burgerIcon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .burgerIcon {
    width: 25px;
    height: 25px;
    margin-right: 16px;
  }
}
.burgerIcon__inner {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  pointer-events: none;
}
.burgerIcon__inner::before {
  content: "";
  width: 25px;
  height: 3px;
  border-radius: 3px;
  position: absolute;
  bottom: 9px;
  background: #fff;
}
.burgerIcon__inner::after {
  content: "";
  width: 25px;
  height: 3px;
  border-radius: 3px;
  position: absolute;
  top: 9px;
  background: #fff;
}

.deleteClass {
  background: transparent;
  transition: 1s ease-in-out;
}
.deleteClass span {
  height: 0;
}
.deleteClass span::before {
  bottom: -2px;
  transform: rotate(45deg);
}
.deleteClass span::after {
  top: -1px;
  transform: rotate(-45deg);
}

.modeSwitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .modeSwitch {
    padding: 0;
    gap: 4px;
  }
}
.modeSwitch__label {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
}
.modeSwitch__btn {
  width: 58px !important;
  height: 22px;
  margin: 0 auto !important;
}
@media screen and (max-width: 767px) {
  .modeSwitch__btn {
    width: 40px !important;
  }
}

.form-check-input:checked {
  background-color: #29CA0F;
  border-color: #29CA0F;
}

.dropdown {
  position: relative;
}
.dropdown__icon {
  color: #fff;
}
.dropdown__icon::before {
  font-size: 25px;
}
.dropdown__badge {
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 8px;
  line-height: 16px;
  position: absolute;
  top: -3px;
  right: -8px;
  font-weight: bold;
  font-size: 10px;
}
.dropdown:hover .dropdown__icon {
  opacity: 0.8;
  transition: 0.2s;
}
.dropdown:hover .dropdown__badge {
  top: -6px;
  transition: 0.2s;
}
.dropdown .newsList {
  border: none;
  left: -70px;
  box-shadow: 0 0 5px rgba(28, 44, 77, 0.25);
}
.dropdown .newsList li {
  border-bottom: 1px solid #ddd;
}
.dropdown .newsList li:last-of-type {
  border: none;
}
.dropdown .newsList li a {
  font-size: 14px;
}
.dropdown .newsList--info::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f05a";
  font-size: 15px;
  font-weight: 900;
  margin-right: 4px;
  color: #009900;
}
.dropdown .newsList--mainte::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f7d9";
  font-size: 15px;
  font-weight: 900;
  margin-right: 4px;
  color: #ffdc00;
}
.dropdown .newsList--trouble::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f071";
  font-size: 15px;
  font-weight: 900;
  margin-right: 4px;
  color: #ff0000;
}

.dropdown-item {
  padding: 8px 12px;
}

.sidebar {
  width: 40%;
  max-width: 230px;
  height: 100vh;
  padding: 0;
  background: linear-gradient(0deg, rgb(98, 166, 216) 0%, rgb(16, 122, 202) 100%);
  position: fixed;
  left: -100%;
  overflow: scroll;
  transition: all 200ms ease-in-out;
  z-index: 999;
}
@media screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    max-width: 100%;
  }
}

.sidebar.is-show {
  left: 0;
  transition: all 200ms ease-in-out;
}

.sidebarList {
  padding: 107px 0 30px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .sidebarList {
    padding: 64px 0 24px;
  }
}
.sidebarList__item a {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  color: #fff;
}
.sidebarList__item a:hover {
  background: rgba(255, 255, 255, 0.15);
}
.sidebarList__item img {
  width: 20px;
  display: inline-block;
  flex-basis: 10%;
}
@media screen and (max-width: 767px) {
  .sidebarList__item img {
    flex-basis: 5%;
  }
}
.sidebarList__title {
  margin-left: 8px;
  flex-basis: 70%;
  font-size: 14px;
  overflow: hidden;
}
.sidebarList__badge {
  width: 35px;
  height: 16px;
  padding: 2px 4px;
  border-radius: 2px;
  margin-left: auto;
  display: inline-block;
}
.sidebarList__badge--on {
  background-color: #29CA0F !important;
}
.sidebarList__badge--off {
  background-color: #E0E0E0 !important;
}

.contentWrapper {
  height: 100vh;
  padding-top: 77px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.videoList {
  padding: 32px 20px;
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .videoList {
    padding: 0 20px;
  }
}
.videoList__item {
  width: calc(25% - 20px);
  padding: 0;
}
@media screen and (min-width: 768px) and (max-width: 920px) {
  .videoList__item {
    width: calc(33.3333333333% - 20px);
  }
}
@media screen and (max-width: 767px) {
  .videoList__item {
    width: calc(50% - 12px);
  }
}
.videoList__item a {
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
  display: inline-block;
  box-shadow: 0px 0px 10px #e0e0e0;
}
.videoList__item a:hover {
  box-shadow: none;
  opacity: 0.8;
}
.videoList__contentWrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.videoList__title {
  margin: 0;
  font-size: 16px;
  color: #333;
}
@media screen and (max-width: 767px) {
  .videoList__title {
    font-size: 14px;
  }
}
.videoList__watchIcon {
  width: 16px;
  height: 16px;
}

.card {
  height: 100%;
  border: none;
}

.activeVideoWrapper {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .activeVideoWrapper {
    margin-left: 8px;
  }
}
.activeVideoWrapper img {
  width: 20px;
  height: 15px;
}
.activeVideoWrapper__title {
  margin-bottom: 0;
  font-size: 14px;
  color: #62A6D8;
}

.videoWrapper {
  padding-top: 46px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 767px) {
  .videoWrapper {
    padding-top: 0;
  }
}
.videoWrapper__inner {
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 767px) {
  .videoWrapper__inner {
    display: block;
    position: relative;
  }
}

.videoContent {
  padding-top: 56.25%;
  width: 100%;
  position: relative;
}
.videoContent iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.videoContent__shutter {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
}

input[type=range] {
  -webkit-appearance: slider-vertical;
     -moz-appearance: slider-vertical;
          appearance: slider-vertical;
  background-color: #62A6D8;
}
input[type=range]:focus, input[type=range]:active {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  border: 2px solid rgba(98, 166, 216, 0.3);
  width: 22px;
  height: 22px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 4px rgba(98, 166, 216, 0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.rangeWrapper {
  width: 50px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .rangeWrapper {
    height: 100%;
    position: absolute;
    top: 1%;
    left: 0;
    z-index: 2;
  }
}
.rangeWrapper__icon {
  width: 20px;
  height: auto;
  position: relative;
  left: -10px;
}
@media screen and (max-width: 767px) {
  .rangeWrapper__icon {
    margin-left: 16px;
  }
}
.rangeWrapper__icon--scaleUp {
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .rangeWrapper__icon--scaleUp {
    margin-bottom: 4px;
  }
}
.rangeWrapper__icon--scaleDown {
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .rangeWrapper__icon--scaleDown {
    margin-top: 4px;
  }
}
.rangeWrapper__range {
  width: 2px;
  height: 88%;
}
@media screen and (max-width: 767px) {
  .rangeWrapper__range {
    height: 75%;
    margin-left: 16px;
  }
}
.rangeWrapper__label {
  position: absolute;
  left: -100%;
  bottom: 3%;
  transform-origin: center center;
  display: block;
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 16px;
  box-sizing: border-box;
  border: 2px solid #62A6D8;
  margin-top: 20px;
  margin-left: -38px;
  left: attr(value);
  color: #62A6D8;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .rangeWrapper__label {
    display: none;
  }
}
.rangeWrapper__label::after {
  content: "%";
  display: block;
  font-size: 10px;
  letter-spacing: 0.07em;
  margin-top: -2px;
}

.playModeWrapper {
  padding: 0 20px;
  margin: 16px auto 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (max-width: 767px) {
  .playModeWrapper {
    padding: 0;
    margin: 8px auto 32px;
  }
}
.playModeWrapper__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.modeWrapper {
  padding: 4px 12px 2px 32px;
  border: none;
  border-radius: 5px;
  background: #62A6D8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  background-image: url(../img/btn_playMode.png);
  background-position: center left 14px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .modeWrapper {
    padding: 4px 6px 2px 18px;
    background-position: center left 6px;
    background-size: 10px 10px;
  }
}
.modeWrapper:hover {
  opacity: 0.8;
  color: #fff;
}

.speedWrapper {
  border: none;
  border-radius: 5px;
  background: #62A6D8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}
.speedWrapper:hover {
  opacity: 0.8;
  color: #fff;
}
.speedWrapper__content {
  padding: 4px 24px 0 24px;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .speedWrapper__content {
    padding: 2px 4px;
  }
}
.speedWrapper__content span {
  font-size: 10px;
}

@media screen and (max-width: 767px) {
  .iconWrapper button {
    padding: 0;
  }
}
.iconWrapper img {
  width: 24px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .iconWrapper img {
    width: auto;
    height: 15px;
  }
}

.iconCalender {
  width: 20px;
  height: 20px;
}

.seekBar {
  max-width: 1195px;
  margin: 0 auto 8px;
}

.seekBarWrapper {
  max-width: 1195px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .seekBarWrapper {
    justify-content: flex-start;
  }
}

.skipWrapper {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .skipWrapper {
    justify-content: flex-start;
  }
}
.skipWrapper__btn {
  border: 1px solid #62A6D8;
  border-radius: 5px;
  background: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  margin-right: 8px;
  display: inline-block;
}
.skipWrapper__btn:hover {
  opacity: 0.8;
}
.skipWrapper__btn:last-of-type {
  margin-right: 0;
}
.skipWrapper__btn span {
  display: inline-block;
  color: #62A6D8;
}
.skipWrapper__btn--backMin {
  background-image: url(../img/icon_back_minutes.png);
  background-position: center left 12px;
  background-size: 14px 9px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .skipWrapper__btn--backMin {
    background-position: center left 8px;
  }
}
.skipWrapper__btn--backMin span {
  padding: 4px 12px 2px 32px;
}
@media screen and (max-width: 767px) {
  .skipWrapper__btn--backMin span {
    padding: 4px 4px 2px 21px;
  }
}
.skipWrapper__btn--backSec {
  background-image: url(../img/icon_back_seconds.png);
  background-position: center left 12px;
  background-size: 5px 9px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .skipWrapper__btn--backSec {
    background-position: center left 7px;
  }
}
.skipWrapper__btn--backSec span {
  padding: 4px 12px 2px 16px;
}
@media screen and (max-width: 767px) {
  .skipWrapper__btn--backSec span {
    padding: 4px 2px 2px 12px;
  }
}
.skipWrapper__btn--onMin {
  background-image: url(../img/icon_moveOn_minutes.png);
  background-position: center right 12px;
  background-size: 14px 9px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .skipWrapper__btn--onMin {
    background-position: center right 8px;
  }
}
.skipWrapper__btn--onMin span {
  padding: 4px 32px 2px 12px;
}
@media screen and (max-width: 767px) {
  .skipWrapper__btn--onMin span {
    padding: 4px 21px 2px 4px;
  }
}
.skipWrapper__btn--onSec {
  background-image: url(../img/icon_moveOn_seconds.png);
  background-position: center right 12px;
  background-size: 5px 9px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .skipWrapper__btn--onSec {
    background-position: center right 7px;
  }
}
.skipWrapper__btn--onSec span {
  padding: 4px 16px 2px 12px;
}
@media screen and (max-width: 767px) {
  .skipWrapper__btn--onSec span {
    padding: 4px 12px 2px 2px;
  }
}
.skipWrapper__btn--live {
  border: none;
  border-radius: 5px;
  background: #62A6D8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  background-image: url(../img/btn_live.png);
  background-position: center left 12px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .skipWrapper__btn--live {
    background-position: center left 6px;
  }
}
.skipWrapper__btn--live span {
  padding: 4px 12px 2px 32px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .skipWrapper__btn--live span {
    padding: 4px 0 2px 21px;
  }
}

.changeHour {
  border: none;
  border-radius: 5px;
  background: #62A6D8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  padding: 4px 12px 2px 32px;
  margin-left: 30%;
  display: inline-block;
  position: absolute;
  right: 0;
  background-image: url(../img/btn_scale.png);
  background-position: center left 12px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .changeHour {
    padding: 4px 7px 2px 24px;
    background-position: center left 6px;
  }
}
.changeHour:hover {
  opacity: 0.8;
}

.darkTheme {
  background: #1C2C4D;
  color: #fff;
}
.darkTheme .navbar {
  border-bottom: 1px solid #1C2C4D;
  background: linear-gradient(180deg, rgb(15, 130, 212) 0%, rgb(28, 44, 77) 100%);
}
.darkTheme .sidebar {
  background: linear-gradient(0deg, rgb(15, 130, 212) 0%, rgb(28, 44, 77) 100%);
}
.darkTheme .activeVideoWrapper img, .darkTheme .iconWrapper img, .darkTheme .rangeWrapper__icon, .darkTheme .iconCalender {
  filter: brightness(10) invert(0);
}
.darkTheme .activeVideoWrapper__title {
  color: #fff;
}
.darkTheme .rangeWrapper__label {
  border: 2px solid #fff;
  color: #fff;
}
.darkTheme .modeWrapper, .darkTheme .speedWrapper, .darkTheme .skipWrapper__btn--live, .darkTheme .changeHour {
  border: none;
  border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25);
  font-weight: bold;
  font-size: 12px;
  color: #1C2C4D;
}
.darkTheme .skipWrapper__btn--live span {
  color: #1C2C4D;
}
.darkTheme .skipWrapper__btn--backMin, .darkTheme .skipWrapper__btn--backSec, .darkTheme .skipWrapper__btn--onSec, .darkTheme .skipWrapper__btn--onMin {
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25);
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}
.darkTheme .skipWrapper__btn--backMin span, .darkTheme .skipWrapper__btn--backSec span, .darkTheme .skipWrapper__btn--onSec span, .darkTheme .skipWrapper__btn--onMin span {
  color: #fff;
}
.darkTheme .skipWrapper__btn--live {
  background-image: url(../img/btn_live_dark.png);
  background-position: center left 12px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .darkTheme .skipWrapper__btn--live {
    background-position: center left 6px;
  }
}
.darkTheme .skipWrapper__btn--backMin {
  background-image: url(../img/icon_back_minutes_dark.png);
  background-position: center left 12px;
  background-size: 14px 9px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .darkTheme .skipWrapper__btn--backMin {
    background-position: center left 8px;
  }
}
.darkTheme .skipWrapper__btn--backMin span {
  padding: 4px 12px 2px 32px;
}
@media screen and (max-width: 767px) {
  .darkTheme .skipWrapper__btn--backMin span {
    padding: 4px 4px 2px 21px;
  }
}
.darkTheme .skipWrapper__btn--backSec {
  background-image: url(../img/icon_back_seconds_dark.png);
  background-position: center left 12px;
  background-size: 5px 9px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .darkTheme .skipWrapper__btn--backSec {
    background-position: center left 7px;
  }
}
.darkTheme .skipWrapper__btn--backSec span {
  padding: 4px 12px 2px 16px;
}
@media screen and (max-width: 767px) {
  .darkTheme .skipWrapper__btn--backSec span {
    padding: 4px 2px 2px 12px;
  }
}
.darkTheme .skipWrapper__btn--onMin {
  background-image: url(../img/icon_moveOn_minutes_dark.png);
  background-position: center right 12px;
  background-size: 14px 9px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .darkTheme .skipWrapper__btn--onMin {
    background-position: center right 8px;
  }
}
.darkTheme .skipWrapper__btn--onMin span {
  padding: 4px 32px 2px 12px;
}
@media screen and (max-width: 767px) {
  .darkTheme .skipWrapper__btn--onMin span {
    padding: 4px 21px 2px 4px;
  }
}
.darkTheme .skipWrapper__btn--onSec {
  background-image: url(../img/icon_moveOn_seconds_dark.png);
  background-position: center right 12px;
  background-size: 5px 9px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .darkTheme .skipWrapper__btn--onSec {
    background-position: center right 7px;
  }
}
.darkTheme .skipWrapper__btn--onSec span {
  padding: 4px 16px 2px 12px;
}
@media screen and (max-width: 767px) {
  .darkTheme .skipWrapper__btn--onSec span {
    padding: 4px 12px 2px 2px;
  }
}
.darkTheme .changeHour {
  padding: 4px 12px 2px 32px;
  margin-left: 30%;
  display: inline-block;
  position: absolute;
  right: 0;
  background-image: url(../img/btn_scale_dark.png);
  background-position: center left 12px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .darkTheme .changeHour {
    padding: 4px 7px 2px 24px;
    background-position: center left 6px;
  }
}
.darkTheme .changeHour:hover {
  opacity: 0.8;
}
.darkTheme .modeWrapper {
  padding: 4px 12px 2px 32px;
  display: inline-block;
  background-image: url(../img/btn_playMode_dark.png);
  background-position: center left 14px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .darkTheme .modeWrapper {
    padding: 4px 6px 2px 18px;
    background-position: center left 6px;
    background-size: 10px 10px;
  }
}
.darkTheme .modeWrapper:hover {
  opacity: 0.8;
}