@use "variable" as v;

$breakpoint: (
  sp: "screen and (max-width: 767px)",
  tab: "screen and (min-width: 768px)",
  pc: "screen and (max-width: 1025px)",
  vertical: "screen and (max-width: 1200px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

@mixin light-b-btn {
  border: none;
  border-radius: 5px;
  background: v.$light-blue;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}

@mixin light-border-btn {
  border: 1px solid v.$light-blue;
  border-radius: 5px;
  background: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}


