<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カメラ管理画面</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

    <header class="navbar sticky-top flex-md-nowrap">

        <div class="navbar--left">
            <div id="burger-button" class="burgerIcon">
                <span class="burgerIcon__inner"></span>
            </div>
            <h1 class="navbar__logo"><img src="../img/logo_white.png" alt="有限会社ミサオネットワーク"></h1>
        </div>

        <div class="modeSwitch form-check form-switch">
            <label class="modeSwitch__label form-check-label" for="flexSwitchCheckDefault">ダークモード</label>
            <input id="js-mode-btn" class="modeSwitch__btn form-check-input" type="checkbox">
        </div>

        <div class="dropdown">
            <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="dropdown__icon far fa-bell"></i>
                <span class="dropdown__badge badge bg-danger">99</span>
            </a>

            <ul class="newsList dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="newsList--info dropdown-item" href="#">新機能リリース</a></li>
                <li><a class="newsList--mainte dropdown-item" href="#">メンテナンス情報</a></li>
                <li><a class="newsList--trouble dropdown-item" href="#">障害発生</a></li>
            </ul>
        </div>

        <div class="navbar__user">
            <a href="#">
                <p class="pcOnly">桜井和寿</p>
                <img src="../img/avatar-1.jpeg" alt="ユーザーアイコン">
            </a>
        </div>

    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 sidebar">
                <ul class="sidebarList">
                    <li class="sidebarList__item sidebarList__item--allItem">
                        <a href="../index.html">
                            <img src="../img/icon_home.png" alt="">
                            <span class="sidebarList__title">カメラ一覧</span>
                        </a>
                    </li>

                    <li class="sidebarList__item sidebarList__item--allItem">
                        <a href="">
                            <img src="../img/icon-folder.png" alt="">
                            <span class="sidebarList__title">キャプチャ一覧へ</span>
                        </a>
                    </li>

                    <li class="sidebarList__item sidebarList__item--allItem">
                        <a href="">
                            <img src="../img/icon-folder.png" alt="">
                            <span class="sidebarList__title">キャプチャ一覧へ</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <main id="contentWrapper" class="contentWrapper container-fluid col-md-9 ms-sm-auto col-lg-9 px-md-4">

                <div class="videoWrapper">

                    <div class="activeVideoWrapper">
                        <img src="../img/icon-video-blue.png" alt="">
                        <p class="activeVideoWrapper__title">終わりなき旅</p>
                    </div>

                    <div class="videoWrapper__inner">
                        <!-- レンジバー -->
                        <div class="rangeWrapper">
                            <img class="rangeWrapper__icon rangeWrapper__icon--scaleUp" src="../img/icon_plus.png" alt="">
                            <span id="rs-bullet" class="rangeWrapper__label">0</span>
                            <input id="rs-range-line" class="rangeWrapper__range" type="range" value="0" min="0" max="100" orient="vertical">
                            <img class="rangeWrapper__icon rangeWrapper__icon--scaleDown" src="../img/icon_minus.png" alt="">
                        </div>
                        <!-- ビデオ画面 -->
                        <div class="videoContent">
                                <iframe src="https://www.youtube.com/embed/bS2wqkwQuH8"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <button class="videoContent__shutter"><img  src="../img/btn_camera.png" alt="ビデオのスクリーンショットを撮影するボタン"></button>
                        </div>
                    </div>
                    <div class="playModeWrapper">
                        <div class="playModeWrapper__inner">
                            <button id="displayMode" class="modeWrapper" href="">
                                通常
                            </button>
                            <button class="speedWrapper">
                                <span class="speedWrapper__content">1<span>x</span></span>
                            </button>
                        </div>
                        <div class="playModeWrapper__inner">
                            <!-- 表示日時 -->
                            <img class="iconCalender" src="../img/icon_calender.png" alt="カレンダーのアイコン">
                            <time>2022-12-03 9:00:12</time>
                        </div>
                        <div class="playModeWrapper__inner iconWrapper">
                            <!-- 一時停止 -->
                            <button><img src="../img/icon_stop.png" alt="一時停止"></button>
                            <!-- 音量 -->
                            <button><img src="../img/icon_volume.png" alt="音量調節"></button>
                            <!-- 拡大ボタン -->
                            <button><img src="../img/icon_zoom.png" alt="拡大ボタン"></button>
                        </div>
                    </div>

                </div>

                <!-- シークバー -->
                <div class="seekBar">
                    <img class="pcOnly" src="../img/seekbar.png" alt="シークバー">
                    <img class="spOnly" src="../img/seekbar_sp.png" alt="シークバーSP表示">
                </div>
                <div class="seekBarWrapper">
                        <div class="skipWrapper">
                            <button class="skipWrapper__btn skipWrapper__btn--backMin"><span>5M</span></button>
                            <button class="skipWrapper__btn skipWrapper__btn--backSec"><span>5S</span></button>
                            <button class="skipWrapper__btn skipWrapper__btn--live"><span>live</span></button>
                            <button class="skipWrapper__btn skipWrapper__btn--onSec"><span>5S</span></button>
                            <button class="skipWrapper__btn skipWrapper__btn--onMin"><span>5M</span></button>
                        </div>
                        <button id="displayScale" class="changeHour">日</button>
                </div>

            </main>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/custom.js"></script>
</body>

</html>
